@charset "utf-8";

pre {
    white-space: pre-line;}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgrey;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
   /* text-transform: uppercase; Deixa todas as letras maiusculas*/
   font-variant: small-caps; /*deixa as primeiras letras maiusculas*/
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(68, 66, 66);
    color: white;
}
section.imagem >  pre{
    background-color: rgba(0, 0, 0, 0.377);
    width: 400px;
    
}
footer {
    background-color: black;
    color: rgb(225, 243, 245);
    text-align: center;
    padding: 10px;
}